.Rproj.user
.Rhistory
.RData
.Ruserdata
CODE INSTITUT CFGS/BBDD/MariaDB/.env.local
CODE INSTITUT CFGS/BBDD/MariaDB/docker/mariadb_data/
CODE INSTITUT CFGS/BBDD/MariaDB2/.env.local
CODE INSTITUT CFGS/BBDD/MariaDB2/docker/mariadb_data/
/CODE INSTITUT CFGS/Programacio/Java/UD13/Ud13Act13MarcMas/build/
