.Rproj.user
.Rhistory
.RData
.Ruserdata
CODE INSTITUT CFGS/BBDD/MariaDB/.env.local
CODE INSTITUT CFGS/BBDD/MariaDB/docker/mariadb_data/
CODE INSTITUT CFGS/BBDD/MariaDB2/.env.local
CODE INSTITUT CFGS/BBDD/MariaDB2/docker/mariadb_data/
/CODE INSTITUT CFGS/Programacio/Java/UD13/Tests/Tests/nbproject/private/
/CODE INSTITUT CFGS/Programacio/Java/UD13/Tests/Tests/build/
/CODE INSTITUT CFGS/Programacio/Java/UD13/Ud13Act1/nbproject/private/
/CODE INSTITUT CFGS/Programacio/Java/UD13/Ud13Act1MarcMas/nbproject/private/
/CODE INSTITUT CFGS/Programacio/Java/UD13/Ud13Act1MarcMas - Copy/nbproject/private/
/CODE INSTITUT CFGS/Programacio/Java/UD13/Ud13Act2MarcMas/nbproject/private/
/CODE INSTITUT CFGS/Programacio/Java/UD13/Ud13Act1MarcMas/build/
/CODE INSTITUT CFGS/Programacio/Java/UD13/Ud13Act9MarcMas/nbproject/private/
/CODE INSTITUT CFGS/Programacio/Java/UD13/Ud13Act11MarcMas/nbproject/private/
/CODE INSTITUT CFGS/Programacio/Java/UD13/Ud13Act10MarcMas/nbproject/private/
/CODE INSTITUT CFGS/Programacio/Java/UD13/Ud13Act12MarcMas/nbproject/private/
/CODE INSTITUT CFGS/Programacio/Java/UD13/Ud13Act13MarcMas/nbproject/private/
